/notebooks/.ipynb_checkpoints/
.DS_Store
src/__pycache__/

data/processed/crane/bird_drone_20.csv
/data/processed/crane/Marked_Radar_Data_Birds.csv
/data/processed/crane/Marked_Radar_Data_Drones.csv

/data/raw/crane/Contacts_20240313.csv
/data/raw/crane/Marked_Radar_Data.csv

/data/raw/demo/other/*
/data/raw/demo/output/*

/notebooks/FeatureVectors.ipynb
